USE [master]
GO
/****** Object:  Database [chrysallis_grupo3]    Script Date: 13/04/2020 11:33:16 ******/
CREATE DATABASE [chrysallis_grupo3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'chrysallis_grupo3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\chrysallis_grupo3.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'chrysallis_grupo3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\chrysallis_grupo3_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chrysallis_grupo3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chrysallis_grupo3]
GO
/****** Object:  Table [dbo].[Assistir]    Script Date: 13/04/2020 11:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Assistir](
	[id_Soci] [int] NOT NULL,
	[id_Esdeveiment] [int] NOT NULL,
	[valoracio] [int] NULL,
	[comentari] [varchar](200) NULL,
	[aiste] [bit] NULL,
 CONSTRAINT [PK_Assistir_1] PRIMARY KEY CLUSTERED 
(
	[id_Soci] ASC,
	[id_Esdeveiment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comunitat]    Script Date: 13/04/2020 11:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comunitat](
	[id] [int] NOT NULL,
	[nombre] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Comunitat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Esdeveniment]    Script Date: 13/04/2020 11:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Esdeveniment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fechaInicio] [date] NOT NULL,
	[horaInicio] [time](7) NOT NULL,
	[NombreEvento] [varchar](100) NULL,
	[Direccio] [varchar](150) NULL,
	[id_Comunitat] [int] NOT NULL,
	[fechaFin] [date] NOT NULL,
	[horaFin] [time](7) NULL,
	[cuants] [int] NULL,
	[imagen] [image] NULL,
	[descripcion] [varchar](300) NULL,
 CONSTRAINT [PK_Esdeveniment_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Socis]    Script Date: 13/04/2020 11:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Socis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[telefon] [varchar](9) NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[nom] [varchar](25) NOT NULL,
	[cognoms] [varchar](50) NOT NULL,
	[contrasenya] [varchar](20) NULL,
	[actiu] [bit] NOT NULL,
	[administrador] [bit] NOT NULL,
	[id_comunitat_admin] [int] NULL,
	[DNI] [varchar](9) NOT NULL,
	[id_comunidad_socio] [int] NULL,
	[contrasena_cambiada] [bit] NULL,
 CONSTRAINT [PK_Socis] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Comunitat] ([id], [nombre]) VALUES (1, N'Andalucía')
INSERT [dbo].[Comunitat] ([id], [nombre]) VALUES (2, N'Aragón')
INSERT [dbo].[Comunitat] ([id], [nombre]) VALUES (3, N'Principado de Asturias')
SET IDENTITY_INSERT [dbo].[Esdeveniment] ON 

INSERT [dbo].[Esdeveniment] ([id], [fechaInicio], [horaInicio], [NombreEvento], [Direccio], [id_Comunitat], [fechaFin], [horaFin], [cuants], [imagen], [descripcion]) VALUES (0, CAST(N'2020-03-20' AS Date), CAST(N'22:00:00' AS Time), N'Carrer Prova', N'mmm funcionara', 3, CAST(N'2020-03-21' AS Date), CAST(N'23:00:00' AS Time), NULL, NULL, NULL)
INSERT [dbo].[Esdeveniment] ([id], [fechaInicio], [horaInicio], [NombreEvento], [Direccio], [id_Comunitat], [fechaFin], [horaFin], [cuants], [imagen], [descripcion]) VALUES (1, CAST(N'2020-03-21' AS Date), CAST(N'13:55:59.7125111' AS Time), N'evento2', N'Evento 1', 1, CAST(N'2020-03-21' AS Date), CAST(N'13:55:59.7095188' AS Time), NULL, NULL, NULL)
INSERT [dbo].[Esdeveniment] ([id], [fechaInicio], [horaInicio], [NombreEvento], [Direccio], [id_Comunitat], [fechaFin], [horaFin], [cuants], [imagen], [descripcion]) VALUES (3, CAST(N'2020-04-09' AS Date), CAST(N'13:00:00' AS Time), N'calle de la gominola', N'evento 3', 7, CAST(N'2020-05-16' AS Date), CAST(N'18:00:00' AS Time), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Esdeveniment] OFF
SET IDENTITY_INSERT [dbo].[Socis] ON 

INSERT [dbo].[Socis] ([id], [telefon], [mail], [nom], [cognoms], [contrasenya], [actiu], [administrador], [id_comunitat_admin], [DNI], [id_comunidad_socio], [contrasena_cambiada]) VALUES (1, N'617451282', N'aguilarcepnet@gmail.com', N'carlos', N'aguuilar', NULL, 1, 1, 18, N'47988333y', NULL, NULL)
INSERT [dbo].[Socis] ([id], [telefon], [mail], [nom], [cognoms], [contrasenya], [actiu], [administrador], [id_comunitat_admin], [DNI], [id_comunidad_socio], [contrasena_cambiada]) VALUES (2, N'782346729', N'pepe@gmail.com', N'pepe', N'mauel', NULL, 1, 0, NULL, N'88933445a', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Socis] OFF
/****** Object:  Index [IX_Socis]    Script Date: 13/04/2020 11:33:16 ******/
CREATE NONCLUSTERED INDEX [IX_Socis] ON [dbo].[Socis]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assistir]  WITH CHECK ADD  CONSTRAINT [FK_Assistir_Esdeveniment] FOREIGN KEY([id_Esdeveiment])
REFERENCES [dbo].[Esdeveniment] ([id])
GO
ALTER TABLE [dbo].[Assistir] CHECK CONSTRAINT [FK_Assistir_Esdeveniment]
GO
ALTER TABLE [dbo].[Assistir]  WITH CHECK ADD  CONSTRAINT [FK_Assistir_Socis] FOREIGN KEY([id_Soci])
REFERENCES [dbo].[Socis] ([id])
GO
ALTER TABLE [dbo].[Assistir] CHECK CONSTRAINT [FK_Assistir_Socis]
GO
ALTER TABLE [dbo].[Esdeveniment]  WITH CHECK ADD  CONSTRAINT [FK_Esdeveniment_Comunitat] FOREIGN KEY([id_Comunitat])
REFERENCES [dbo].[Comunitat] ([id])
GO
ALTER TABLE [dbo].[Esdeveniment] CHECK CONSTRAINT [FK_Esdeveniment_Comunitat]
GO
ALTER TABLE [dbo].[Socis]  WITH CHECK ADD  CONSTRAINT [FK_Socis_Comunitat] FOREIGN KEY([id_comunitat_admin])
REFERENCES [dbo].[Comunitat] ([id])
GO
ALTER TABLE [dbo].[Socis] CHECK CONSTRAINT [FK_Socis_Comunitat]
GO
ALTER TABLE [dbo].[Socis]  WITH CHECK ADD  CONSTRAINT [CK_Socis] CHECK  (([telefon]<='999999999'))
GO
ALTER TABLE [dbo].[Socis] CHECK CONSTRAINT [CK_Socis]
GO
USE [master]
GO
