<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="chrysallis_grupo3Entities" connectionString="metadata=res://*/ModelChrysallis.csdl|res://*/ModelChrysallis.ssdl|res://*/ModelChrysallis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5T3AOOD\SQLEXPRESS;initial catalog=chrysallis_grupo3;user id=sa;password=cep;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="chrysallis_grupo3Entities1" connectionString="metadata=res://*/ModelChrysallis.csdl|res://*/ModelChrysallis.ssdl|res://*/ModelChrysallis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5T3AOOD\SQLEXPRESS;initial catalog=chrysallis_grupo3;persist security info=True;user id=sa;password=cep;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="chrysallis_grupo3Entities2" connectionString="metadata=res://*/ModelChrysallis.csdl|res://*/ModelChrysallis.ssdl|res://*/ModelChrysallis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5T3AOOD\SQLEXPRESS;initial catalog=chrysallis_grupo3;persist security info=True;user id=sa;password=cep;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="chrysallis_grupo3Entities3" connectionString="metadata=res://*/ModelChrysalis.csdl|res://*/ModelChrysalis.ssdl|res://*/ModelChrysalis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5T3AOOD\SQLEXPRESS;initial catalog=chrysallis_grupo3;persist security info=True;user id=sa;password=cep;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="chrysallis_grupo3Entities4" connectionString="metadata=res://*/ModelChris.csdl|res://*/ModelChris.ssdl|res://*/ModelChris.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5T3AOOD\SQLEXPRESS;initial catalog=chrysallis_grupo3;persist security info=True;user id=sa;password=cep;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>